@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String, webJarsUtil: org.webjars.play.WebJarsUtil)(implicit request: RequestHeader)
    @*
    * Call the `main` template with two arguments. The first
    * argument is a `String` with the title of the page, the second
    * argument is an `Html` object containing the body of the page.
    *@
    @main("Jelly Belly", webJarsUtil) {

        <div id="ab-tests"></div>

        <script type="text/javascript">
                var url = "@routes.ExperimentController.experimentsWebSocket().webSocketURL()";
                alert(url)
                var tweetSocket = new WebSocket(url);

                tweetSocket.onmessage = function (event) {
                    if(event.data == "subscribed")
                        return;
                    console.log(event);
                    var data = JSON.parse(event.data);
                    var tweet = document.createElement("p");
                    var text = document.createTextNode(data.experiment.name+ " " + data.experiment.variants + " " + data.experiment.participants)
                    tweet.appendChild(text);
                    document.getElementById("ab-tests").appendChild(tweet);
                };

                tweetSocket.onopen = function () {
                    tweetSocket.send("subscribe")
                }
        </script>
    }
